{{ define "main" }}

<style>
    
    .media-container {
        display: flex;
        flex-wrap: wrap;
    }

    .media-entry {
        border: 1px solid #dfe1e1;
        margin: 0.5rem;
    }

    .media-entry a {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25;;
    }

    .media-title {
        padding: 10px;
    }

</style>
  

<div>
    <h2>{{ .Title }}</h2>
    <div class="media-container">
        {{ range .Pages.ByPublishDate.Reverse }}
        {{ $imageLoc := (printf "%s%s" .RelPermalink "img.jpg") }}
        {{ $image := .Resources.GetMatch "img.jpg" }}
        {{ if ne $image nil }}
            {{ $image = $image.Resize "300x" }}
        {{ end }}
        <div class="media-entry">
            <a href="{{ .RelPermalink }}">
            <div>
                {{ if $image }}
                <img src="{{ $image.RelPermalink }}" />
                {{ end }}
            </div>
            <div class="media-title">{{ .Title }}</div>
            </a>
        </div>

        {{ end }}
    </div>
</div>


{{ end }}

