{{ define "main" }}
{{ $paginator := .Paginate (where .Site.Pages "Type" "post").ByDate.Reverse }}

{{ if $paginator.HasPrev }}
<div class="navigation">
  <div class="leftnav">« <a href="{{$paginator.Prev.URL}}">Later Posts</a></div>
  <div class="snap-to-fit"></div>
</div>
{{ end }}

{{ range $paginator.Pages }}
  <div class="post">
    <h2 class="post__title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <small>{{ .Date }}</small>
    <div class="entry">
      {{ .Content }}
    </div>
  </div>
{{ end }}

{{ if $paginator.HasNext }}
<div class="navigation">
  <div class="rightnav"><a href="{{$paginator.Next.URL}}">Earlier Posts</a> »</div>
  <div class="snap-to-fit"></div>
</div>
{{ end }}

{{ end }}
