<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}

    <div id="navbar-top" class="d-md-none">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">Posts</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  <div class="navbar-nav">
            {{ range .Site.Menus.main }}
              <a class="nav-item nav-link" href={{.URL}}>{{.Name}}</a>
            {{end}}
	  </div>
	</div>
      </nav>
    </div>


    <div class="container" id="container">
      <!-- Page Header -->
      <div class="row">
        <div class="col-md-9 offset-md-3">
          <div class="header">
            <h1><a href="/">{{.Site.Title}}</a></h1>
            <small>{{.Site.Params.tagline}}</small>
          </div>
        </div> 
      </div>

      <div class="row">
        <!-- Page Body -->
        <div id="content" class="col-md-9">
          <!-- Main Content -->
          {{- block "main" . }}
          {{end}}
        </div>
        <div id="sidebar" class="col-md-3 order-md-first d-none d-md-block">
          <!-- Side Navigation-->
          <h2>Other Pages</h2>
          <ul>
            {{ range .Site.Menus.main }}
              <li><a href={{.URL}}>{{.Name}}</a></li>
            {{end}}
          </ul>
        </div> <!-- /Nav -->
      </div> <!-- /body -->
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
